body{
    background-color:#eee;
    margin-top:20px;
}
.border-5, .border-w-5 {
    border-width: 5px !important;
}
.border-white {
    border: 1px solid transparent;
    border-color: #fff !important;
}
hr.hr-primary {
    border-top-color: #CC164D!important;
}
em {
    font-style: italic;
}
.font-weight-normal {
    font-weight: 400 !important;
}
.img-fixed {
    width: 300px;       /* Largeur fixe */
    height: 260px;      /* Hauteur fixe */
    object-fit: cover;  /* Recadre l'image sans la déformer */
    border-radius: 50%; /* Forme ronde */
    border: 5px solid white; /* Bordure blanche si besoin */
}
